*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	cursor: url("images/cursor3.png"), auto;
}

body{
	background-color: #fcdaee;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #F78DAF;
	cursor: url("images/cursor4.png"), auto;
}

/*.back{
	position: absolute;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}
*/
.btgif{
	position: absolute;
	width: 50vh;
	top: -1vh;
	left: -9vh;
/*	width: 25%;
	top: -1%;
	left: -5%;*/
}

.navigation{
	position: absolute;
	top: 9.2vh;
	left: 11.8vh;
/*	top: 10.5em;
	left: 5.6em;*/
}

.navigation h2{
	font-size: 1.5rem;
}

.circle{
	position: absolute;
	width: 10em;
	top: 2.2em;
	left: 2.3em;
/*	width: 11.5%;
	top: 5.8%;
	left: 2.3%;*/
}

.home{
	display: inline-block;
	position: relative;
	color: black;
	text-transform: lowercase;
	font-weight: bold;
}

.home:hover{
	cursor: url("images/cursor4.png"), auto;
	text-shadow: 2.1px 2px 2px #Ffe8f8;
	color: darkviolet;
}

.about{
	text-shadow: 2.1px 2px 2px #Ffe8f8;
	color: #F78DAF;
}

.works:hover{
	cursor: url("images/cursor4.png"), auto;
	text-shadow: 2.1px 2px 2px #Ffe8f8;
	color: darkviolet;
}

.container{
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translate(-50%, -50%);
	column-gap: 4em;
}

/*.square{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%; -50%);
}

.square2{
	width: 550px;
	height: 550px;
	background-color: pink;
}*/

.textbox{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 50rem;
	height: 30rem;
	background-color: #9B9DCA;
	border-radius: 50px;
	padding: 60px;
	column-gap: 1px;
/*	opacity: 0.6;
*/}

.textbox img{
/*	position: absolute;
*/	width: 80%;
	height: auto;
	left: 5%;
	opacity: 1;
}

.face{
	padding-top: 30px; 
}

.textbox h2{
/*	position: absolute;
*/	right: 0;
	top: 0;
	font-size: 1.2em;
}

.text{
	width: 70%;
	padding-top: 70px;
/*	text-align: center;
*/}

@media (max-width: 1092px){
	.container{
		position: absolute;
		top: 20%;
		left: 25%;
		transform: translate(-50%, -50%);
	}

	.textbox{
		position: absolute;
		width: 55vh;
		height: 70vh;
	}
}

/*.emoji1{
	top: 0;
	right: 50%;
}*/

/*.emoji{
	width: 450px;
	height: 450px;
	border-radius: 450px black;
}*/

/*.container img{
	width: 10%;
	height: auto;
	left: 50%;

}*/

/*.mongolia{
	width: 50px;
	height: auto;
}*/



