*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	cursor: url("images/cursor3.png"), auto;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: darkviolet;
	cursor: url("images/cursor4.png"), auto;
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.name{
	position: absolute;
	left: 50%;
	top: 48%;
	transform: translate(-50%, -50%);
	max-width: 1000px;
	text-align: center;
	font-size: 2em;
	line-height: 45px;
}

.navigation{
	display: flex;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	column-gap: 4em;
}

.about{
	display: inline-block;
	position: relative;
	color: black;
	text-transform: lowercase;
	font-weight: bold;
}

.about:hover{
	text-shadow: 2.1px 2px 2px #Fbd8fe;
}

.works{
	display: inline-block;
	position: relative;
	color: black;
	text-transform: lowercase;
	font-weight: bold;
}

.works:hover{
	text-shadow: 2.1px 2px 2px #Fbd8fe;
}

.half{
	position: absolute;
	width: 28%;
	overflow: hidden;
	top: 10%;
	left: 10.5%;
}

.half2{
	position: absolute;
	width: 28%;
	overflow: hidden;
	transform: scaleX(-1);
	top: 10%;
	right: 10.5%;
}


